@model InventoryManagment.Models.Product

@{
    ViewBag.Title = "Productdetail";
}

<h2>Product</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Productname")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_name)
        </dd>

        <dt>
            @Html.DisplayName("ProductQuant")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_qnty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateProduct","Product", new { id = Model.Id },new {@class ="btn btn-primary"}) |
    @Html.ActionLink("Cancel", "DisplayProduct","Product",new {@class="btn btn-danger"})
</p>
